body {
  font-family: "Titillium Web", sans-serif;
}
#logo {
  border-radius: 50%;
}
a {
  color: #dcbd35;
}
a:hover {
  text-decoration: underline;
}
.nav-item {
  font-size: 110%;
  color: white;
  font-weight: bold;
}
.nav-link {
  color: white;
}
.navbar-center {
  left: 50%;
}
#motto {
  border-bottom: 3px solid orange;
  text-align: center;
  margin-bottom: 0;
  color: orange;
  font-weight: bold;
  font-size: 120%;
}
#main {
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/46/74/pizza-logo-vector-21904674.jpg");
  background-size: cover;
  padding: 100px;
  text-align: center;
}
#main h1 {
  font-size: 400%;
}
#order {
  color: white;
  background-color: orange;
  padding: 20px;
  font-weight: bolder;
  font-size: 200%;
}
#order:hover {
  text-decoration: underline;
}
#offers {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#about {
  text-align: center;
  padding-top: 20px;
  width: 100%;
  padding: 50px;
  color: black;
  font-weight: bold;
  background-position: center;
  background-color: orange;
}
#about p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#social-icons {
  text-align: center;
  font-size: 90%;
}
#contact-location {
  background-color: orange;
  color: white;
  text-align: center;
  align-content: center;
}
#subscribe-form {
  padding: 10px;
  background-color: #8c1924;
  color: white;
}
#label-form {
  text-align: center;
}

.social-circle {
  padding-top: 20px;
  padding-bottom: 5px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

/*YouTube*/
.fa-youtube {
  background: #bb0000;
  color: white;
}
/*Instagram*/
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

